
    <header>
      </header>
<div *ngIf="userInfo">

      <div class="row text-center overlay" style="margin:0px auto">
        <p class="bg-info text-center"> Hello, {{ userInfo.username }}, this is where you can view your created User-Events </p>
        <div class="col-8 col-offset-2 text-center center-block" style="margin: 0 auto">
            <h2 style="margin-top:30px; margin-bottom:20px">My User Event List</h2>
          <button class="btn btn-success" style="margin-bottom:30px"><a [routerLink]="['/new-user-event']">Add a new user-event</a></button>
          <button style="margin-bottom:30px" class="btn btn-danger" (click)="logMeOutPls()"> Log Out </button>
          <p *ngIf="logoutError" class="error">
            {{ logoutError }}
          </p>
        </div>
      </div>
   
      
      
 

   
    <div class="row text-center overlay">
   
      <div *ngFor="let userEvent of userEvents2" class="col-8 col-offset-2 text-center center-block" style="margin: 0 auto; background-color: rgba(73, 71, 71, 0.444);">
        <!-- <div *ngIf="userEvent2.owner === userInfo._id" >  -->
              <img class="rounded-circle img-thumbnail" src="/assets/images/miamibackground.png" style="width:170px; height:170px"> 
              <br>
              <h4> <a [routerLink]="['/user-events', user-event]">My User-Event: <span style="color:hotpink">{{ userEvent.name }}</span></a></h4>
               <p>{{userEvent.description}}</p>
               <p>My Invitations: </p>
               <p *ngFor="let one of userEvent.promoterEventsInvitedName"><span style="color:hotpink"> {{ one }}</span>
                <button class="btn btn-success btn-sm"(click)="sendAccept(userInfo._id,userEvent._id, one.promoterEventsInvited)">Accept Invite</button>
                 <button class="btn btn-danger btn-sm">Decline Invite</button>
              </p>
            <br>
         <!-- </div> -->
        </div>
      </div>


  

  
  