*{
  color:white
}

input{
  color: black
}

.error {
  padding: 15px;
  border: 2px solid crimson;
  border-radius: 3px;
  color: crimson;
}

.jumbotron{
  background-image:url('/assets/images/miamibackground.png');
  height: 550px;
  width:100%;
  margin: 0px;
  background-repeat: none;
  align-content: center;
  padding: 0 auto
 
  

}
.row{
  align-content:center;
  align-items: center;
  padding-top:60px
}
.col-12{
padding: 0 auto;
margin: 0 auto;
background-color: rgba(73, 71, 71, 0.644);
align-content: center;
align-items:center
}


.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.checkbox-radios{
  margin-top:-60px;
  padding:2px
}

.form-check{
  margin:8px
}

.btn-lg{
  align-self: center;
  margin: 0px auto;

}
form{
  align-items:center
}