
  <div class="jumbotron">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 offset-sm-3 col-sm-6 offset-md-2 col-md-8 col-12">
      <h3> Sign Up </h3>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>
      <form #signupform (ngSubmit)="doSignUp()">

        <label for="username-input"> Username</label>
        <input id="username-input" type="text" placeholder="blah" [(ngModel)]="signUpInfo.username" name="usernameValue">
        <br>

        <label for="password-input"> Password </label>
        <input id="password-input" type="password" placeholder="*****" [(ngModel)]="signUpInfo.password" name="passwordValue">
        
        <br>
        <div class="row">
        
        <div class="col-sm-10 checkbox-radios">
          <div class="form-check d-inline-block">
            <label class="form-check-label">
              <input class="form-check-input" [(ngModel)]="signUpInfo.ispromoter" [checked]="signUpInfo.ispromoter === true" type="radio" name="ispromoter" value="true" checked> As Promoter
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
          </div>

          <div class="form-check d-inline-block pl-2">
            <label class="form-check-label">
              <input class="form-check-input" [(ngModel)]="signUpInfo.ispromoter" [checked]="signUpInfo.ispromoter === 'false'" type="radio" name="ispromoter" value="false" checked> As Guest
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>
      </div>
    
    
  
     
        <button type=submit class="btn-success btn-lg"> Sign Up </button>
      </form>
      <p>Already have account?
        <button class="btn btn-info btn-sm"><a class="bold" [routerLink]="['/']">Log In</a></button>
      </div>
    </div>
  </div>
