
  <div class="container overlay">
    <div class="row">
      <div class="offset-lg-3 col-lg-6 offset-sm-3 col-sm-6 col-12 main-section text-center border border-primary">
          
            
                  <img *ngIf="userInfo.ispromoter==='false'" src="/assets/images/guest1.png" class="rounded-circle img-thumbnail">
                  <img *ngIf="userInfo.ispromoter==='true'" src="/assets/images/promoter1.png" class="rounded-circle img-thumbnail">
                  <h5>{{userInfo.username}} - </h5>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ userInfo.description }}</p>

                  <hr>
                  <a  *ngIf="userInfo.ispromoter==='true'" class="btn btn-success btn-sm" [routerLink]="['/users',userInfo._id,'events']" >Show My Created Promoter Events</a>
                  <a  *ngIf="userInfo.ispromoter==='false'" class="btn btn-success btn-sm" [routerLink]="['/users',userInfo._id,'user-events']" >Show My Created Events</a>

                  <a *ngIf="userInfo.ispromoter==='true'" class="btn btn-info btn-sm"[routerLink]="['/user-events']">Browse User-Events</a>
                  <a *ngIf="userInfo.ispromoter==='false'" class="btn btn-info btn-sm" [routerLink]="['/events']">Browse Promoter Events</a>

                  <a class="btn btn-warning btn-sm" [routerLink]="['/users',userInfo._id,'edit-profile']">Edit Profile</a>

                  <a *ngIf="userInfo.ispromoter==='false'"class="btn btn-danger btn-sm" [routerLink]="['/new-user-event']">Add Guest Event Request</a>
                  <a *ngIf="userInfo.ispromoter==='true'" class="btn btn-danger btn-sm" [routerLink]="['/new-event']">Add Promoter Event Request</a>
                  <button (click)="logMeOutPls()"> Log Out </button>
                  <hr>
            
          </div>
        </div>
    
    </div>
