<div *ngIf="currentUser">
  <header>
    <p> Hello, {{ currentUser.username }}. </p>
    <a [routerLink]="['/new-user-event']">Add a new event</a>
    <button (click)="logMeOutPls()"> Log Out </button>
    <p *ngIf="logoutError" class="error">
      {{ logoutError }}
    </p>
  </header>
  <h2>User-Event List</h2>

  <div *ngFor="let userEvent of userEvents">
    <a [routerLink]="['/user-events', userEvent._id]">{{ userEvent.name }}</a>
  </div>
</div>

<div class="container bootstrap snippet">
    <div class="col-sm-4">
    	<!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2">
    		<div class="header-cover">
    			<img src="https://bootdey.com/img/Content/bg_element.jpg" alt="User cover">
    		</div>
    		<div class="user-profile-inner">
    			<h4 class="white">Jonny doe</h4>
    			<img src="https://bootdey.com/img/Content/User_for_snippets.png" class="img-circle profile-avatar" alt="User avatar">
    			<h5>Administrator</h5>
    				
    			<!-- User button -->
    			<div class="user-button">
    				<div class="row">
    					<div class="col-md-6">
    						<button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
    					</div>
    					<div class="col-md-6">
    						<button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-user"></i> Add as friend</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div> 
    
    <div class="col-sm-4">
        <!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2">
    		<div class="header-cover">
    			<img src="https://bootdey.com/img/Content/HexGames349.jpg" alt="User cover">
    		</div>
    		<div class="user-profile-inner">
    			<h4 class="white">Jonny doe</h4>
    			<img src="https://bootdey.com/img/Content/image_site_girl_write.jpg" class="img-circle profile-avatar" alt="User avatar">
    			<h5>Administrator</h5>
    				
    			<!-- User button -->
    			<div class="user-button">
    				<div class="row">
    					<div class="col-md-6">
    						<button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
    					</div>
    					<div class="col-md-6">
    						<button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-user"></i> Add as friend</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="col-sm-4">
        <!-- Begin user profile -->
    	<div class="box-info text-center user-profile-2">
    		<div class="header-cover">
    			<img src="https://bootdey.com/img/Content/bg_element.jpg" alt="User cover">
    		</div>
    		<div class="user-profile-inner">
    			<h4 class="white">Jonny doe</h4>
    			<img src="https://bootdey.com/img/Content/user-453533-fdadfd.png" class="img-circle profile-avatar" alt="User avatar">
    			<h5>Administrator</h5>
    				
    			<!-- User button -->
    			<div class="user-button">
    				<div class="row">
    					<div class="col-md-6">
    						<button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
    					</div>
    					<div class="col-md-6">
    						<button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-user"></i> Add as friend</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

    
</div>	