<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <div class="container bootstrap snippets overlay"> -->
<div class="row overlay">
    <div class="offset-lg-3 col-lg-6 offset-sm-3 col-sm-6 offset-md-2 col-md-8 col-12 text-center">
      <form (ngSubmit)="doTheUpdate(user._id, myForm)" #myForm="ngForm" >
        <h2> Edit Profile </h2>
        <h3 class="panel-title">User info</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">UserName</label>
            <input id="phone-brand-input" type="text"  [(ngModel)]="user.username" name="username" value="{{ user.username }}">
          </div>
          
            <label>Description</label>
            <input id="phone-brand-input" type="text"  [(ngModel)]="user.description" name="description" value="{{ user.description }}">
          <br>
        <h4 class="panel-title">Profile Image</h4>
        <br>
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
        
     
          <br>
          <br>
              <button type="submit" class="btn btn-primary">Submit</button>
     </form>
    </div>
  </div>
    
  <!-- </div> -->
  