<strong>{{ user-event.brand }}</strong>
<p>{{ user-event.name }}</p>
<img [src]="baseUrl+phone.image" alt="">


<button *ngIf="user-event._id" (click)="deleteThisUserEvent()">DELETE</button>

<div>
  <a [routerLink]="['/user-events']">Take me back to list</a>
</div>



<!-- update phone area -->

<form (ngSubmit)="doTheUpdate(user-event._id, myForm)" #myForm="ngForm" >
  <label for="user-event-name-input"> User-Event Name </label>
  <input id="user-event-name-input" type="text"  [(ngModel)]="userEvent.name" name="userEventName" value="{{ userEvent.name }}">
  <br>
  <button type="submit">Save updates</button>
</form>
