
    <header>
      </header>
  <div *ngIf="userInfo"></div>
    <div class="container overlay">
      <div class="row text-center">
          <p class="bg-info text-center"> Hello, {{ userInfo.username }}, this is where you can view and also create new Promoter Events </p>

        <div class ="col-6 col-offset-3 text-center center-block" style="margin: 0 auto">
     <button class="btn btn-success"><a [routerLink]="['/new-event']">Add a new event</a> </button>
      <button class="btn btn-danger" (click)="logMeOutPls()"> Log Out </button>
      <p *ngIf="logoutError" class="error">
        {{ logoutError }}
      </p>
      
 

    <h2 style="margin-top:50px; margin-bottom:20px">My Promoter Event List</h2>
  </div>
  </div>
  <div class="row text-center">
      <div *ngFor="let event of events" class ="col-6 col-offset-3 text-center center-block"style="margin: 0 auto;background-color: rgba(73, 71, 71, 0.444);  ">
      <div *ngIf="event.owner === userInfo._id" > 
          <img class="rounded-circle img-thumbnail" src="/assets/images/miamibackground.png" style="width:170px; height:170px"> 
          <br>
        <h4><a [routerLink]="['/events', event]">My Event: <span style="color:hotpink"> {{ event.name }}</span></a></h4>
        <p>{{event.description}}</p>
        <p style="color:white"*ngFor="let one of event.userEventsInvitedName">Invited but not Confirmed: <span style="color:hotpink"> {{ one }}</span></p>

        

    </div>
  </div>
  </div>
  </div>





